/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/




* {    
    margin: 0; /* reset the margin and padding so browser's applied padding and margins can be removed. */
    padding: 0;    
    box-sizing: border-box; /* Change the box model, so the borders and padding is not added to the total width & total height we specify for a box. */
}


body {
    font-family: "Lato", sans-serif; /* anything related to font we always set as high as the body, no higher (do not apply to universal select [*]) */
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7; /* basically the line height is 1.7 x bigger than the predefined line height, that we would have before we added this. */
    color: #777777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
       to right bottom,
     rgba(126, 213, 111, 0.801), 
     rgba(40, 180, 131, 0.801)), 
    url(../img/hero.jpg);

    background-size: cover;
    background-position: center; /* ensures that the center stays the same but bottom and top will crop as the width shrinks. */
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}



.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute; /* absolute within it's parent */
    top: 40%; /* the box element's starting y-axis point (which is the top edge of the box element) is now at 50% of the parent's height - but we still need to center the box element at the specified x,y point. */
    left: 50%; /* the box element's starting x-axis point (which is the left edge of the box element) is now at 50% of the parent's width - but we still need to center the box element at the specified x,y point. */
    transform: translate(-50%, -50%); /* this will shift our box element left and up by 50% of it's width and height - this will center the box at the x,y point specified by absolute and top/left sibling attributes. */
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 1s;
}


.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}